:root {
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
  --color-DarkGray: hsl(0, 0%, 55%);
  --color-VeryDarkGray: hsl(0, 0%, 41%);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  transition: top 0.5s ease-out, color 0.5s ease-out,
    background-color 0.5s ease-out, transform 0.5s ease-out, right 0.5s ease-out;
}

html,
body {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-Black);
  letter-spacing: 1px;
}

button:hover,
button:focus,
button:active {
  background-color: var(--color-Black);
  color: var(--color-White);
  cursor: pointer;
  boder: none;
}
a {
  color: var(--color-White);
}

.logoContainer {
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  width: 190px;
}
.logoContainerFooter {
  padding-left: 2px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  width: 140px;
  padding-bottom: 30px;
}

.creationPad {
  height: 450px;
  position: relative;
}

.creationPadTitle {
  width: 115px;
  position: absolute;
  top: 80%;
  left: 15%;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.creationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.creationImage:hover {
  opacity: 50%;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 760px) {
  .logoContainer {
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .logoContainer {
    font-size: 1.2rem;
  }
  .creationPad {
    height: 240px;
  }
  .creationPadTitle {
    top: 70%;
    width: 90px;
  }
}
